<header class="header">
  <div class="content">

    <div class="header_content">
      <a href="https://mywish.io/" class="header_logotype">
        <img src="./assets/images/header/logotype.svg" alt="MyWish">
        <span>Airdrop Service</span>
      </a>

      <ul class="navbar" #navigation>
        <li class="">
          <a class="" href="https://bridge.mywish.io/" target="_blank">
            <span class="">Crosschain swap</span>
          </a>
        </li>
        <li class="with-submenu">
          <a class="">
            <span class="">Binance</span>
          </a>
          <ul class="submenu">
            <li>
              <a href="https://mywish.io/binance-token"
                 target="_blank">
                <span>Token</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="with-submenu">
          <a>
            <span class="">TRON</span>
          </a>
          <ul class="submenu">
            <li>
              <a href="https://mywish.io/tron"
                 target="_blank">
                <span>Main</span>
              </a>
            </li>
            <li>
              <a href="https://mywish.io/tron-token"
                 target="_blank">
                <span>Token</span>
              </a>
            </li>
            <li>
              <a href="https://mywish.io/tronish"
                 target="_blank">
                <span>TRONISH</span>
              </a>
            </li>
          </ul>

        <li class="with-submenu">
          <a>
            <span class="">EOS</span>
          </a>
          <ul class="submenu">
            <li>
              <a href="https://mywish.io/eos"
                 target="_blank">
                <span>Main</span>
              </a>
            </li>
            <li>
              <a href="https://mywish.io/eosish"
                 target="_blank">
                <span>EOSISH</span>
              </a>
            </li>
            <li>
              <a href="https://mywish.io/create-account"
                 target="_blank">
                <span>Account</span>
              </a>
            </li>
            <li class="">
              <a href="https://mywish.io/eos-token"
                 target="_blank">
                <span>Token</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="with-submenu">
          <a class="">
            <span class="">ETH</span>
          </a>
          <ul class="submenu">
            <li>
              <a href="https://mywish.io/eth-token"
                 target="_blank">
                <span>Token</span>
              </a>
            </li>
            <li>
              <a href="https://mywish.io/eth-airdrop"
                 target="_blank"
                 style="font-size: 15px;">
                <span>Airdrop</span>
              </a>
            </li>
            <li>
              <a href="https://protector.mywish.io/"
                 target="_blank"
                 style="font-size: 15px;">
                <span>Token Protector</span>
              </a>
            </li>
            <li>
              <a href="https://mywish.io/eth-crowdsale"
                 target="_blank">
                <span>STO/Crowdsale</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="with-submenu">
          <a class="">
            <span class="">About us</span>
          </a>
          <ul class="submenu">
            <li>
              <a href="https://mywish.io/platform"
                 target="_blank">
                <span>Platform</span>
              </a>
            </li>
            <li>
              <a href="https://mywish.io/product"
                 target="_blank">
                <span>Product</span>
              </a>
            </li>
            <li>
              <a href="https://mywish.io/team"
                 target="_blank">
                <span>Team</span>
              </a>
            </li>
            <li>
              <a href="https://mywish.io/news"
                 target="_blank">
                <span>Blog</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>


      <div class="language-select">
        <ul class="language-select-list">
          <li class="active">
            <img src="./assets/images/lng/en.svg"/>
            <span>en</span>
          </li>
        </ul>
      </div>

    </div>

  </div>
</header>

